@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;700;800&display=swap');

/* O padrão de tamanho da fonte é 16px para passar para 10px fazemos isso: */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif, serif;
    font-weight: 400;
    background:  #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-weight: 800;
    font-size: 2rem;
    margin-left: 5px;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    border: none;
    background: url(../images/logo.png) transparent no-repeat;
    width: 45px;
    height: 42px;
}

.menu li a {
    padding: 10px 5px;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    /* Para usar o hover */
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #FFFFFF;  
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 1rem;
    color: #FFFFFF;
    margin-left: 2rem;
    padding: 10px 20px;
}



